body {
    background-color: rgb(161, 207, 219);
    text-align: center;
    src: url(src/gradient-galaxy-background_23-2148983655.png)
}

h1,
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-align: center;
}

.Button {
    font-style: italic;
    text-align: center;
    background-color: rgb(214, 234, 248);
}

.TopFilms {
    font-style: italic;
    text-align: center;
    background-color: rgb(214, 234, 248);
}

.Films {
    background-size: cover;
    background-position: center;
    src: url(src/gradient-galaxy-background_23-2148983655.png)
}